<!doctype html>
<html lang="ro">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {{ assets({files: [
      '@public/css/bootstrap.min.css',
      ], name: 'app-home-header.css'})
    }}

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="{{ base_url }}">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="{{ base_url }}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void();">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void();">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </div>
    </nav>
    
    <div class="container" id="content-container" style="height: 2048px;margin-top: 56px;">
      <div class="row">
        <div class="col-sm">
          1 One of three columns<br />
          {% set userCompleteName = 'Peter Jackson' %}
          <img src="{{ avatar(userCompleteName, 'circle', 25) }}" />
        </div>
        <div class="col-sm-7">
          2 One of three columns
          <br />
          {% set userCompleteName = 'Nick Doe' %}
          <img src="{{ avatar(userCompleteName, 'circle', 25) }}" />
        </div>
        <div class="col-sm">
          3 One of three columns
          <br />
          {% set userCompleteName = 'John Finch' %}
          <img src="{{ avatar(userCompleteName, 'circle', 25) }}" />
        </div>
      </div>
    </div>
    
    {{ assets({files: [
      '@public/js/jquery.slim.min.js',
      '@public/js/popper.min.js',
      '@public/js/bootstrap.min.js',
      ], name: 'app-home-footer.js'})
    }}
  </body>
</html>